.post {
  border: 1px solid grey;
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
}

.post article {
  flex: 1;
}

.post__buttons {
  margin-left: 10px;
}

.post__delete {
  border: none;
  background-color: unset;
  cursor: pointer;
}