.PostItem {
  display: block;
  padding: 10px;
  border-bottom: solid 1px grey;
  color: black;
  text-decoration: none;
}

.PostItem:hover {
  background-color: aliceblue;
}

.PostItem:last-child {
  border-bottom: none;
}