.PostCreateForm {
  display: flex;
  flex-direction: column;
}

.PostCreateForm input,
.PostCreateForm textarea {
  padding: 10px;
  margin: 5px 0;
}

.PostCreateForm textarea {
  height: 100px;
  resize: vertical;
}

.PostCreateForm__buttons {
  display: flex;
  justify-content: flex-end;
}

.PostCreateForm__buttons button {
  margin-left: 10px;
  width: 100px;
  height: 30px;
}

.PostCreateForm__open {
  width: 100%;
  height: 30px;
}