.post {
  border-bottom: 1px solid grey;
  display: flex;
  padding: 10px;
}

.post:last-child {
  border-bottom: none;
}

.post article {
  flex: 1;
}

.post__buttons {
  margin-left: 10px;
}

.post__delete {
  border: none;
  background-color: unset;
  cursor: pointer;
  opacity: 0;
}

.post:hover .post__delete {
  opacity: 1;
}