.postCreate {
  display: flex;
  flex-direction: column;
}

.postCreate input,
.postCreate textarea {
  padding: 10px;
  margin: 5px 0;
}

.postCreate textarea {
  height: 100px;
  resize: vertical;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
}

.buttonsContainer button {
  margin-left: 10px;
  width: 100px;
  height: 30px;
}

.openButton {
  width: 100%;
  height: 30px;
}